@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root{
  --body-bg-color: #af86af;
  --main-color: #680068;
  --main-color-light: purple;
  --main-color-dark: #480148;
  --text-color: #ffffff;
  --text-heading-dark: gold;
  --text-heading: yellow;
}

*{
  outline: none;
}

*,
*:before,
*:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: var(--body-bg-color);
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: var(--text-color);
  transition-duration: 0.3s;
}

ul{
  list-style-type: none;
  padding: 0;
}

h3{
  color: var(--text-heading-dark);
  margin: 10px 0;
  font-size: 1.25em;
}

.resume{
  width: 100%;
  background: var(--main-color);
  color: var(--text-color);
  margin: 30px;
  box-shadow: 5px 5px 2px var(--main-color-dark);
  position: relative;
  display: flex;
}

.resume .base,
.resume .func{
  box-sizing: border-box;
  float: left;
}

.resume .base > div,
.resume .func > div{
  padding-bottom: 10px;
}

.resume .base > div:last-of-type,
.resume .func > div:last-of-type{
  padding-bottom: 0;
}

.resume .base{
  width: 25%;
  padding: 30px 20px;
  background: var(--main-color);
  color: var(--text-color);
  position: relative;
}

.resume .base .profile{
  background: var(--text-heading-dark);
  padding: 35px 15px 45px 15px;
  margin: -30px -20px 45px -20px;
  position: relative;
  z-index: 2;
}

.resume .base .profile::after{
  content: "";
  position: absolute;
  background: var(--main-color-light);
  width: 100%;
  height: 75px;
  bottom: -38px;
  left: 0;
  transform: skewY(-10deg);
  z-index: -1;
}

.resume .base .profile .photo img{
  width: 70%;
  border: 3px solid var(--main-color);
  outline: 5px solid white;
}

.resume .base .profile .photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume .base .profile .info{
  text-align: center;
  color: var(--text-color);
}

.resume .base .profile .info .name{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 700;
  color: var(--main-color-dark);
}

.resume .base .profile .info .job{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.3em;
  color: var(--main-color);
}

.resume .base .about{
  margin-top: 80px;
  padding-top: 10px;
}

.resume .base .contact{
  font-size: 15px;
}

.resume .base .contact div{
  line-height: 40px;
}

.resume .base .contact div a:hover{
  color: var(--text-heading);
}

.resume .base .contact div a:hover span::after{
  width: 100%;
}

.resume .base .contact div:hover i{
  color: var(--text-heading);
}
.resume .base .contact div i{
  color: var(--text-heading-dark);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}

.resume .base .contact div span{
  position: relative;
}

.resume .base .contact div span::after{
  content: "";
  position: absolute;
  background: var(--text-heading);
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}

.resume .base .follow {
  position: absolute;
  bottom: 20px;
}

.resume .base .follow .box{
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  padding-top: 5px;
}

.resume .base .follow .box a{
  display: inline-block;
  vertical-align: text-bottom;
}

.resume .base .follow .box a:hover i{
  background: var(--text-heading);
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: var(--text-heading-dark);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: var(--main-color);
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}

.resume .base .follow .box i::before {
  transition-duration: 0.3s;
}

.resume .base .follow .box i.fa::before {
  display: block;
}

.resume .func{
  width: 75%;
  padding: 30px;
}

.resume .func:hover > div{
  transition-duration: 0.5s;
}

.resume .func:hover > div:hover h3 i{
  transform: scale(1.25);
}

.resume .func:hover > div:not(:hover){
  opacity: 0.5;
}

.resume .func h3{
  transition-duration: 0.3s;
  margin-top: 0;
  color: var(--text-heading-dark);
}
.resume .func h3 i{
  color: var(--main-color);
  background: var(--text-heading-dark);
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.resume .func .work,
.resume .func .edu{
  float: left;
}

.resume .func .work small,
.resume .func .edu small{
  display: block;
  opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: var(--text-heading);
}

@keyframes circle{
  from {
    box-shadow: 0 0 0 0px var(--text-heading);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid var(--text-color);
  background: var(--text-heading-dark);
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: var(--text-color);
  left: 5px;
  top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}

.resume .func .work {
  width: 48%;
  background: var(--main-color-light);
  padding: 15px;
  padding-bottom: 22px;
  margin: 0 4% 15px 0;
}

.resume .func .edu {
  width: 48%;
  background: var(--main-color-light);
  padding: 15px;
  padding-bottom: 50px;
}

.resume .func .myProjects{
  clear: both;
  background: var(--main-color-light);
  padding: 15px;
  margin: 15px 0;
}

.resume .func .myProjects ul li{
  margin: 15px 0;
}

.resume .func .myProjects ul li a{
  color: var(--text-heading);
  font-weight: bold;
}

.resume .func .myProjects ul li a:hover{
  color: var(--text-heading-dark);
}


.resume .func .skills-prog {
  clear: both;
  background: var(--main-color-light);
  padding: 15px;
}

.resume .func .skills-prog ul {
  margin-left: 15px;
}

.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}

.resume .func .skills-prog ul li:hover{
  color: var(--text-heading);
}

.resume .func .skills-prog ul li:hover .skills-bar .bar {
  background: var(--text-heading);
  box-shadow: 0 0 0 1px var(--text-heading);
}

.resume .func .skills-prog ul li span{
  display: block;
  width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
  background: var(--text-color);
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}

.resume .func .skills-prog ul li .skills-bar .bar{
  position: absolute;
  top: -1px;
  height: 4px;
  background: var(--text-heading-dark);
  box-shadow: 0 0 0 var(--text-heading-dark);
  border-radius: 5px;
}

.resume .func .skills-soft{
  clear: both;
  background: var(--main-color-light);
  padding: 15px;
  margin: 15px 0 0;
}

.resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.resume .func .skills-soft ul li {
  position: relative;
}

.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: var(--text-heading);
  stroke-width: 4px;
}

.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}

.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}

.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: var(--text-color);
}

.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: var(--text-heading-dark);
  stroke-linecap: round;
}

.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}

.resume .func .skills-soft ul li span {
  top: 40%;
}

.resume .func .interests {
  background: var(--main-color-light);
  margin: 15px 0 0;
  padding: 15px;
}

.resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}

.resume .func .interests-items div:hover span {
  color: var(--text-heading);
  transition-duration: 0.3s;
}

.resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: var(--text-heading-dark);
  transition-duration: 0.3s;
}

.resume .func .interests-items div i:hover{
  color: var(--text-heading);
}

.resume .func .interests-items div span {
  display: block;
}

.resume .func .personal, .resume .func .permanent-address{
  background-color: var(--main-color-light);
  margin: 15px 0 0;
  padding: 15px;
  line-height: 25px;
}

.resume .func .declaration{
  background: var(--main-color-light);
  margin: 15px 0 0 0;
  padding: 15px;
}

.resume .func .declaration p{
  padding-bottom: 20px;
}
